<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBJECT DETECTION</title>
</head>
<body>
    <h1 style="text-align:center">Bienvenid@ a OD-PJR</h1>

    <div>
        <a href="{{url_for('image')}}"> <img src="../static/imgs/od_img.jpg" height ="280" width="300" title="Detecta objetos sobre una imagen" alt="" /> </a> &nbsp;&nbsp;&nbsp;
        <a href="{{url_for('video')}}"> <img src="../static/imgs/od_video.jpg" height ="280" width="300" title="Detecta objetos sobre un video" alt="" /> </a> &nbsp;&nbsp;&nbsp;
        <a href="{{url_for('track')}}"> <img src="../static/imgs/od_track.jpg" height ="280" width="300" title="Detecta objetos (mediante Object Tracking) sobre un video" alt="" /> </a> <br>
        <a href="{{url_for('url')}}"> <img src="../static/imgs/od_img.jpg" height ="280" width="300" title="Detecta objetos sobre una imagen obtenida mendiante una url" alt="" /> </a> &nbsp;&nbsp;&nbsp;
        <a href="{{url_for('url_video')}}"> <img src="../static/imgs/od_img.jpg" height ="280" width="300" title="Detecta objetos sobre una url de un video de YouTube" alt="" /> </a> &nbsp;&nbsp;&nbsp;
        <a href="{{url_for('webcam')}}"> <img src="../static/imgs/od_img.jpg" height ="280" width="300" title="Detecta objetos sobre una url de un video de YouTube" alt="" /> </a> <br>
    </div>
</body>
</html>