{% extends 'index.html' %}
{% block modal %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione el modelo que desea añadir</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <a href="{{url_for('home')}}">
            <i class="fas fa-times" style="color: grey;"></i>
          </a>
        </div>
        <div class="modal-body">
          <div style="text-align: center;">
            <form style="text-align:center">
              <div>
                <label>
                  <div>
                    Nombre de la carperta dónde se guardara el modelo
                  </div> 
                  <input id="folder_name" type="text" autofocus>
                </label>
              </div>
              <!-- <input id="imageinput1" type="file" name="image" class='imageinput' onchange="readUrl(this)" accept=".pb, .tflite"> -->
              <div class="input">
                <input id="imageinput1" webkitdirectory directory multiple type="file" name="image" class='imageinput' onchange="readUrl(this)">
                <label for='imageinput1'>
                  <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" 
                    viewBox="0 0 20 17">
                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                    </svg>
                  </figure> 
                  <span id="msg_span" style="color:black; font-family: Arial; display: block;">Arrastra/selecciona un modelo o carpeta</span>
                </label>
              </div>
            </form>
            <div class="sk-circle" style="display: none;" id="circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
            <button name="send" id="sendbutton" style="display:none;"><strong>Subir modelo</strong></button>
            <br>
          </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    console.log("window is loaded")
    $("#exampleModal").modal("show")
})
</script>
{% endblock %}