<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/url.css">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/url.js"></script>
    <title>OBJECT DETECTECTION</title>
</head>
<body>
    <div class="app">
        <header class="app-header">
            <p><u>
                Object Detection Image-URL
            </u></p>
            <div className="pre_img">
                <span><img id="imagebox" src="" alt=""></span>
            </div>
            <div id="detecting">
                Detectando...
            </div>
            <div id="link">
             <a href="" id="download" download>Download</a>
             <br>
             <a href="" id="csv" download>Download CSV</a>
            </div>
            <form>
                <input id="imageinput" type="url" name="image" onchange="readUrl(this)">
            </form>
            <button name="send" id = "sendbutton">Send</button>
        </header>
    </div>
</body>
</html>