<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/url.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/url.js"></script>
    <title>OBJECT DETECTECTION</title>
</head>
<body>
    <div>
        <button style="text-align:center; float:left; background-color:#282c34; border: none">
            <a href="{{url_for('home')}}" style="color:#b9d339">
                <i class="fas fa-arrow-left"> volver al home</i>
            </a>
        </button>
        <div style="text-align:right">
            <strong><label style="color: white;">Fichero de nombres: <span style="color: #b9d339;">{{actual_names_file}}</span></label></strong>
            <strong><label style="color: white;">Modelo de deteccion: <span style="color: #b9d339;">{{actual_model_file}}</span></label></strong>
        </div>
    </div>
    <div class="app">
        <header class="app-header">
            <p>
                Object Detection Image-URL
            </p>
            <div className="pre_img">
                <span><img id="imagebox" src="" alt=""></span>
            </div>
            <div id="detecting">
                Detectando...
            </div>
            <div id="link">
             <a href="" id="download" style="color:#b9d339; font-family: Arial" download>Download</a>
             <br>
             <a href="" id="csv" style="color:#b9d339; font-family: Arial" download>Download CSV</a>
            </div>
            <form>
                <label>
                    <span style="font-family: Quicksand;">URl</span>
                    <input id="imageinput" type="url" name="image" placeholder="Introduce la URL de la imagen" onchange="readUrl(this)">
                </label>
            </form>
            <button name="send" id = "sendbutton"><strong>Detectar</strong></button>
        </header>
    </div>
</body>
</html>