html {
    text-align: center;
    background-color: #282c34;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .app-link {
    color: #61dafb;
  }
  
  
  
  .pre_img{
    height: 600px;
    width: 600px;
    display: none;
    /* background-color: white; */
  }
  
  input[type=url]{
    background-color: white;
    border: none;
    color: #282c34;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
    margin-bottom: 15px;
    /* display: none; */
  }
  ::placeholder{
    color: #282c34;
  }
  
  p{
    margin: 50px;
    font-size: 72px;
  }
  
  #link {
    display: none;
  }

  #detecting{
    font-family: 'Monserrat', sans-serif;
    display: none;
  }

  #imagebox{
    display: none;
  }

  #sendbutton{
    text-align:center; 
    float:left; 
    color:#b9d339; 
    border: none;
    background: none;
    font-size: 16px;
  }